<br><br>
<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10">
      <div class="row" >
          <div class="col-sm-9" *ngFor="let pk of pokemons ">
              <div class="card" style="width:90%; height: 90%;" *ngIf="pk.pkdx_id==id">
                  <img class="card-img-top" src="{{pk.art_url}}" alt="Card image" style="width:250px">
                  <div class="card-body">
                    <h3 class="card-title">{{pk.name}}</h3>
                    <p>Descripcion: {{pk.description}}</p>
                    <h6>Tipos: <b> {{pk.types}}</b></h6>
                    
                     <div *ngFor="let evo of pk.evolutions">
                        
                        <h4>Evoluciones: {{evo.to}}</h4>

                        <div *ngFor="let im of pokemons ">
                            <div *ngIf="evo.to==im.name">
                                    <img src="{{im.art_url}}" alt="Evolucion" style="width:100px">
                            </div>
                            
                        </div>
                        
                        <br><br>
                        <div *ngIf="evo.level!=null">
                            <p>Nivel en el que evoluciona: {{evo.level}}</p>
                        </div>
                        
                        <p>Metodo de Evolucion: {{evo.method}}</p>

                     </div>
                 
                    
                    <a class="nav-link card-link " routerLink = "/home" routerLinkActive= "active" class="btn btn-primary">Regresar</a>
                  </div>
                </div>
          </div>
      </div>
      <br><br>  
  </div>
  <div class="col-sm-1"></div>
</div>
